NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://ha2ca4_db_user:RgL4vRrcZvzPlBzi@db.8dggdhj.mongodb.net/jewelry-shop?retryWrites=true&w=majority&appName=db
JWT_SECRET=change_this_secret_key
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_PRODUCT_FOLDER=
